// color palette
$primary: #FEC93F;
$dark: #17181F;
$gray: #ccc;
$lightgray: #ddd;
$gray-background: #E9E8E9;

// Font
$defaultfont: OpenSans;
$boldfont: OpenSans-Bold;
$semiboldfont: OpenSans-SemiBold;
$titlefont: Lato;
$titleboldfont: Lato-Bold;

//page class
body {
  font-family: $defaultfont;
}


*:focus {outline:none !important}

.outer-wrap {
  background: white;
  height: 100vh;
}

.page-wrap {
  background: $gray-background;
  text-align: center;
  padding: 0;
  height: 100vh;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.41);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.41);
}

@keyframes rotateClockwise {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(45deg); }
}

@keyframes rotate90Clockwise {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(90deg); }
}

@keyframes rotate90Counter {
  0% { transform: rotate(90deg); }
  100% { transform: rotate(0deg); }
}

@keyframes rotateBounceCounter {
  0% { transform: rotate(135deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

@keyframes rotateZoomOut {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
    display: block;
  }
  100% {
    transform: scale(0);
    transform: rotate(180deg);
    display: none;
  }
}

.btn {
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 15px;
  color: white;

  &:focus {
    outline: none !important;
    outline-offset: none !important;
  }

  &:active {
    outline: none !important;
    outline-offset: none !important;
  }
}

.btn-yellow {
  background-color: $primary;
  transition: all 0.2s ease-out;

  &:hover {
    color: $dark;
  }
}

.btn-black {
  background-color: $dark;
  transition: all 0.2s ease-out;

  &:hover {
    color: $primary;
  }
}

.vertical-center-wrap {
  position: relative;
  padding: 0;
  height: 100%;
}

.loader {
  background-color: transparent;
  text-align: middle;
  position: absolute;
  bottom: 0; left: 0; right: 0; top: 0;
  margin: auto;
}

.vertical-line {
  color: $gray;
  margin: 5px;
  vertical-align: middle;
  width: 1px;
  background: $lightgray;
  display: inline-block;
}

.horizontal-line {
  color: $gray;
  height: 1px;
  width: 100%;
  margin: 5px;
  background: $lightgray;
}

.divider{
  width: 15px;
  height:auto;
  display:inline-block;
}

.progress-bar {
  background-color: $primary !important;
}
