// color palette
$primary: #FEC93F;
$dark: #17181F;
$gray-background: #E9E8E9;

// Font
$defaultfont: OpenSans;
$boldfont: OpenSans-Bold;
$semiboldfont: OpenSans-SemiBold;
$titlefont: Lato;
$titlboldfont: Lato-Bold;

//page class
body {
  font-family: $defaultfont;
}

.outer-wrap {
  background: white;
  height: 100vh;
}

.page-wrap {
  background: $gray-background;
  text-align: center;
  height: 100vh;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.41);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.41);
}
