@import './_base.scss';

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: $primary;
  color: white;
}

.nav-pills, .nav-link{
  font-size: 0.8rem;
  font-weight: bold;

  &:focus {
    outline: none !important;
    outline-offset: none !important;
  }

  &:active {
    outline: none !important;
    outline-offset: none !important;
  }
}

a{
  color: black;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: $dark;
    color: white;
  }
}
