@import './_base.scss';

.menu-wrap {
  background: white;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 -1px 20px 0 rgba(105,99,99,0.35);
  padding:5px 10px;
}

.circle-wrap {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  background: white;
  position: absolute;
  bottom: 10px;
  align-items: center;
  padding: 0;
  padding-top: 7px;
  box-shadow: 0 -15px 20px -5px rgba(105,99,99,0.35), 0 -1px 20px 0 rgba(256,256,256, 0.1);
}

.plus-button-wrap {
  background: transparent;
  border-radius: 100%;
  border: none;
}

.plus-icon {
  animation: 0.25s rotateBounceCounter;
  font-size: 5rem;
  color: $dark;
  align-items: center;
  cursor: pointer;

  &:focus, &:active {
    outline: none !important;
    outline-offset: none !important;
  }
}

.plus-icon-active {
  animation: 0.3s rotateClockwise;
  color: $dark;
  font-size: 5rem;
  align-items: center;
  transform: rotate(45deg);

  &:focus, &:active {
    outline: none !important;
    outline-offset: none !important;
  }
}

.extended-menu-wrap {
  height: 72px;
  width: 72px;
  position: absolute;
  bottom: 60px;
  background: white;
  border-radius: 100%;
  box-shadow: 0 -1px 20px 0 rgba(105,99,99,0.25);
  transition: all 0.2s ease-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 -1px 20px 0 rgba(255,255,255,0.75);
  }

}

.extended-menu-icon {
  transform: translateY(45%);
  color: $primary;
  transition: all 0.2s ease-out;
  font-size: 2rem;
}

.extended-menu-label {
  font-family: $titleboldfont;
  font-size: 12px;
  color: $dark;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 1px;
  transform: translateY(50%);
}

.cancel-icon {
  transform: translateY(45%);
  color: $gray;
  font-size: 2rem;
  transition: all 0.2s ease-out;
}

.cancel-label {
  font-family: $titleboldfont;
  font-size: 12px;
  color: $gray;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 1px;
  transform: translateY(50%);

}

.icon-default {
  color: $dark;
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
  vertical-align: middle;
  margin:auto;

  &:hover {
    color: $primary;
    background-color: white !important;
  }
}

.icon-active {
  color: $primary;
}

@media (max-width: 750px){
  .menu-wrap {
    background: white;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 -1px 20px 0 rgba(105,99,99,0.35);
    padding:5px 10px;
  }

  .circle-wrap {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: white;
    position: absolute;
    bottom: 10px;
    align-items: center;
    padding: 0;
    padding-top: 7px;
    box-shadow: 0 -15px 20px -5px rgba(105,99,99,0.35), 0 -1px 20px 0 rgba(256,256,256, 0.1);
  }

  .extended-menu-wrap {
      height: 60px;
      width: 60px;
  }

  .extended-menu-label, .cancel-label {
    font-size: 11px;
    letter-spacing: normal;
    transform: translateY(35%);
  }

  .extended-menu-icon, .cancel-icon {
    font-size: 1.8rem;
    transform: translateY(35%);
  }

  .plus-icon, .plus-icon-active {
    font-size: 4rem;
    align-items: center;
    align-self: center;
  }

  .icon-default {
    font-size: 1.5rem;
    vertical-align: middle;
  }
}
