@import './_base.scss';

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: white;
  color: $dark;
  border-radius: 0;
}

.nav-item {
  border-radius: 0;
}

.nav-link{
  background: $primary;
  color: white;
}

.modal{
  font-size: 0.8rem;
}

.modal-header{
  font-weight: bold;

  &:focus {
    outline: none !important;
    outline-offset: none !important;
  }
}

.add-photo{
  background: $gray;
  border-radius: .25rem;
  margin-bottom: 10px;
  height: 200px;
  width: 270px;
  overflow: hidden;
  cursor: pointer;
}


.nav-link .nav-icon {
  font-size: 1.5rem;
}

.nav-link .nav-label {
  font-size: 0.8rem;
  font-family: $titleboldfont;
}

.nav-link.active .nav-icon {
  font-size: 1.5rem;
}

.nav-link.active .nav-label {
  font-size: 0.8rem;
  font-family: $titleboldfont;
}

.custom-close-wrap:hover .custom-close-icon {
  animation: 0.3s rotate90Clockwise;
}

.custom-close-icon {
  animation: 0.3s rotate90Counter;
  color: $dark;
  font-size: 1.5rem;
  vertical-align: middle;
  cursor: pointer;
  background: white;
  border-radius: 100%;
}

.custom-close-label {
  font-size: 1rem;
  font-family: $titleboldfont;
  display: inline;
  line-height: 1.5rem;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.tag-wrap {
    margin-bottom: 20px;
}

.tag-container {
  background: $primary;
  border-radius: 10px;
  font-size: 13px;
  font-family: $titleboldfont;
  color: $dark;
  text-align: center;
  padding: 2px 10px;
  display: inline;
  margin-right: 5px;
  margin-top: 10px;
}

.modal-content-title {
  font-family: $boldfont;
  font-size: 16px;
  margin: 10px 0;
  text-align: left;
  color: $dark;
}

.modal-title {
  font-family: $boldfont;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  color: $dark;
}

a{
  color: $dark;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: $dark;
    color: white;
  }
}

.hidden_input{
  width: 100%;
  height: 100%;
  background: rgba(150,225,150,0.5);
  vertical-align: middle;
  text-align: center;
  opacity: 0;
  color: #FFF;
  font-weight: bold;
  font-size: 400px;
}

.bintypes-container{
  position: relative;
  padding: 1rem;
  margin: 0rem -15px 0;
}

.alert {
  margin-bottom: 4px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}

.picframe{
  width: 100%;
  height: 100%;
  border-radius: 3%;
  z-index: 1;
}

.types-head{
  margin: 1px  0px 2rem 0px;
  font-family: $semiboldfont;
}

.add-photo-label {
  font-size: 16px;
  font-family: $titleboldfont;
  letter-spacing: 0.8px;
  color: $dark;
}
