@import './_base.scss';

.active-orange input[type=text] {
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 10%;
    border-bottom: 1px solid $primary;
    box-shadow: 0 1px 0 0 $primary;
    background-color:rgba(255,255,255,0.8) !important;
    border:none !important;
    transition: all 0.2s ease-out;
    &:focus {
        background-color:rgba(255,255,255,0.9) !important;
      }
}

.search-box-logo{
    position: absolute;
    color: gray;
    z-index: 3;
    top: 33px;
    left: 82%;
}

.back-button{
    position: absolute;
    border-color: aqua;
    background-color: $dark;
    color: black;
    z-index: 3;
    bottom: 0px;
    width: 100%;
    height: 60px;
    font-family: $titleboldfont;
    font-size: 35px;
    color: white;
    left: 0;
    padding: 0px;
    padding-top: 5px;
}
